<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <p><strong>{{ body }}</strong></p>
  </body>
</html>

<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <p><strong>{{ body }}</strong></p>
    <form action="/" method="POST">
    Input: <input type="text" name="myname"/>
    <input type="submit"></input>
    </form>
  </body>
</html>
